body {
background-image: url(foto_relogio.avif);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 0px;
}

#clock-container {
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
}

#clock {
font-family: monospace;
font-size: 4em;
font-weight: bold;
color: white;
border-radius: 10px;
backdrop-filter: blur(1.5px);
width: 100%;
text-align: center;

}